body
{
  background-color: #FFE2E2;
}

hr
{
  background-color: #FFE2E2;
  border-style: dotted none none none;
  height: 0;
  width: 5%;
  border-color: #222831;
  border-width: 10px;
}

h1
{
  color: #f6f6f6;
}

h3
{
  color: #393E46;
}
